[submodule "alacritty/themes"]
	path = alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
	shallow = true
[submodule "nvim"]
	path = nvim
	url = https://github.com/nalderto/kickstart.nvim.git
	shallow = true
[submodule "zsh/plugins/autocomplete"]
	path = zsh/plugins/autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
	shallow = true
[submodule "zsh/plugins/pure"]
	path = zsh/plugins/pure
	url = https://github.com/sindresorhus/pure.git
	shallow = true
[submodule "zsh/plugins/autosuggestions"]
	path = zsh/plugins/autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	shallow = true
[submodule "zsh/plugins/fast-syntax-highlighting"]
	path = zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
	shallow = true
[submodule "zsh/plugins/lf"]
	path = zsh/plugins/lf
	url = https://github.com/chmouel/zsh-select-with-lf.git
	shallow = true
