[submodule "alacritty/.config/alacritty/themes"]
	path = alacritty/.config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
	shallow = true
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/nalderto/kickstart.nvim.git
	shallow = true
[submodule "zsh/.config/zsh/plugins/autocomplete"]
	path = zsh/.config/zsh/plugins/autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
	shallow = true
[submodule "zsh/.config/zsh/plugins/pure"]
	path = zsh/.config/zsh/plugins/pure
	url = https://github.com/sindresorhus/pure.git
	shallow = true
[submodule "zsh/.config/zsh/plugins/autosuggestions"]
	path = zsh/.config/zsh/plugins/autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	shallow = true
[submodule "zsh/.config/zsh/plugins/fast-syntax-highlighting"]
	path = zsh/.config/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
	shallow = true
[submodule "zsh/.config/zsh/plugins/lf"]
	path = zsh/.config/zsh/plugins/lf
	url = https://github.com/chmouel/zsh-select-with-lf.git
	shallow = true
[submodule "zsh/.config/zsh/plugins/p10k"]
	path = zsh/.config/zsh/plugins/p10k
	url = https://github.com/romkatv/powerlevel10k.git
	shallow = true
